<li>
  <img class='logo' src={{icon}} alt={{country}} width='150' /> 
  <h4>{{country}}</h4>
  <p>Capital:{{capital}}</p>
  <p>Population: {{population}}</p>
  <p>languages:{{languages}}</p>    
</li>