<div>
  <h4>{{country}}</h4>
  <p>Capital:{{capital}}</p>
  <p>Population: {{population}}</p>
  <ul>
  {{#each languages}}
  <li class="languages__item">{{this}}</li>
  {{/each}}
  </ul>
  <img class='logo' src={{icon}} alt=`{{country}} Flag` width='50' />
</div>